<div class="dtp-wrapper" (blur)="onBlur()">
  <label class="dtp-label" *ngIf="label">{{ label }}</label>

  <div class="dtp-row">
    <!-- Date picker -->
    <mat-form-field appearance="outline" class="custom-mat-form-field dtp-date-field" subscriptSizing="dynamic">
      <input matInput
             [matDatepicker]="picker"
             [matDatepickerFilter]="dateFilter"
             [min]="minDate"
             [max]="maxDate"
             placeholder="Seleccionar fecha"
             [formControl]="dateCtrl"
             readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Time picker modern dropdowns -->
    <div class="dtp-time-selects" [formGroup]="form">
      <mat-icon class="time-icon">access_time</mat-icon>
      <mat-form-field appearance="outline" class="custom-mat-form-field dtp-time-select" subscriptSizing="dynamic">
        <mat-select formControlName="hour" placeholder="Hora">
          <mat-option *ngFor="let h of hours" [value]="h">{{ h }}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <span class="dtp-time-colon">:</span>
      
      <mat-form-field appearance="outline" class="custom-mat-form-field dtp-time-select" subscriptSizing="dynamic">
        <mat-select formControlName="minute" placeholder="Min">
          <mat-option *ngFor="let m of minutes" [value]="m">{{ m }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <!-- Validation error -->
  <div class="dtp-error" *ngIf="errorMessage && !form.disabled">
    <mat-icon class="dtp-error-icon">warning</mat-icon>
    <span>{{ errorMessage }}</span>
  </div>
</div>
