<div class="recovery-page">
    <div class="recovery-header">
        <h1 class="brand-title">¿Olvidaste tu contraseña?</h1>
        <p class="brand-subtitle">Nosotros lo solucionamos</p>
    </div>

    <mat-card class="recovery-card">
        <div *ngIf="emailSent" class="success-container">
            <mat-icon class="success-icon">mail_outline</mat-icon>
            <h2>¡Correo enviado con éxito!</h2>
            <p>Por favor, revisá tu casilla de correo electrónico y seguí las instrucciones para continuar con la recuperación de tu contraseña.</p>
            <button mat-raised-button class="custom-btn-submit" (click)="goBackToLogin()">Volver al Login</button>
        </div>

        <form *ngIf="!emailSent" [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group custom-field-wrapper">
                <label for="email">Correo Electrónico</label>
                <mat-form-field appearance="outline" class="custom-mat-form-field">
                    <input matInput type="email" id="email" formControlName="email" placeholder="ejemplo@correo.com">
                    <mat-error *ngIf="recoveryForm.get('email')?.hasError('required')">
                        El correo electrónico es requerido
                    </mat-error>
                    <mat-error *ngIf="recoveryForm.get('email')?.hasError('email')">
                        El correo electrónico no es válido
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button
                    type="submit"
                    [disabled]="isSubmitting || recoveryForm.invalid"
                    class="custom-btn-submit">
                {{ isSubmitting ? 'Enviando...' : 'Recuperar Contraseña' }}
            </button>

        </form>
    </mat-card>
</div>
