<div class="recovery-page">
    <div class="recovery-header">
        <h1 class="brand-title">¿Olvidaste tu contraseña?</h1>
        <p class="brand-subtitle">Nosotros lo solucionamos</p>
    </div>

    <mat-card class="recovery-card">
        <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group custom-field-wrapper">
                <label for="username">Nombre de Usuario</label>
                <mat-form-field appearance="outline" class="custom-mat-form-field">
                    <input matInput type="text" id="username" formControlName="username">
                    <mat-error *ngIf="recoveryForm.get('username')?.hasError('required')">
                        El nombre de usuario es requerido
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button
                    type="submit"
                    [disabled]="isSubmitting || recoveryForm.invalid"
                    class="custom-btn-submit">
                {{ isSubmitting ? 'Ingresando...' : 'Ingresar' }}
            </button>

        </form>
    </mat-card>
</div>
