<h2 mat-dialog-title>Seleccionar Asiento</h2>
<mat-dialog-content>
  <p>Elija la fila ({{data.firstRow}} - {{data.lastRow}}) y asiento ({{data.firstSeat}} - {{data.lastSeat}}):</p>
  <form [formGroup]="seatForm" class="seat-form">
    <mat-form-field appearance="outline">
      <mat-label>Fila</mat-label>
      <input matInput type="number" formControlName="row">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Asiento</mat-label>
      <input matInput type="number" formControlName="number">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" [disabled]="!seatForm.valid" (click)="onConfirm()">Aceptar</button>
</mat-dialog-actions>
