<div class="role-dialog-container">
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
        
        <!-- Role Name -->
        <div class="form-group custom-field-wrapper">
            <label for="roleName">Nombre del Rol</label>
            <mat-form-field appearance="outline" class="custom-mat-form-field" subscriptSizing="dynamic">
                <input matInput id="roleName" formControlName="roleName">
            </mat-form-field>
        </div>

        <!-- Permissions Selector (Native Multiple) -->
        <div class="form-group custom-field-wrapper">
            <label>Permisos del Rol</label>
            <mat-form-field appearance="fill" class="custom-mat-select" subscriptSizing="dynamic">
                <mat-select formControlName="permissionIds" placeholder="Seleccione Permisos" multiple>
                    <mat-option *ngFor="let perm of availablePermissions" [value]="perm.id">
                        {{perm.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="dialog-actions">
            <button mat-raised-button 
                    type="submit"
                    [disabled]="roleForm.invalid"
                    class="btn-submit">
                {{ isEditMode ? 'Modificar Rol' : 'Crear Rol' }}
            </button>
            <button mat-stroked-button 
                    type="button"
                    (click)="onCancel()"
                    class="btn-cancel">
                Cancelar
            </button>
        </div>

    </form>
</div>
